body { padding-top: 80px; padding-bottom: 100px;  }

.navbar {
    background-color: #353f40!important;
    border: none;
    height: 60px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.panel-default {
    border-color: #353f40!important; 
}

.panel-default>.panel-heading {
    border-color: #353f40!important; 
    background-color: #353f40!important;
    color: white;
}

.panel-title {
    font-size: 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.navbar-brand img {
    transition: all 0.4s ease;
    height: 35px;
    width: 35px;
}

.navbar-inverse .navbar-nav>li>a
{
    background-color: #353f40!important;
    color: white!important;
}

.navbar-inverse .navbar-nav>li
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    transition: all 0.4s ease;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #353f40!important;
}

.table-center td {
   text-align: center!important;
}

.table-center tr {
   text-align: center!important;
}

.table-center th {
   text-align: center!important;
}

.green-text {
    color: #27ae60;
}

.red-text {
    color: #e74c3c;
}

.tab-content {
    margin: 0px;
    padding: 0px;
}

.no-padding {
    padding: 0;
}

.white-text {
    color: white!important;
}

.thumbnail-blue {
    background-color: #3498db;
}

.thumbnail-green {
    background-color: #2ecc71;
}

.thumbnail-red {
    background-color: #e74c3c;
}

.thumbnail-orange {
    background-color: #e67e22;
}

.thumbnail-purple {
    background-color: #9b59b6;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #353f40!important;
    color: white!important;
}

.nav-pills a {
    color: #353f40!important;
}

body.menu-auto-hide .header-wrapper .nav .nav-pills .nav-stacked .header-bottom {
    position: fixed!important;
    left: 0!important;
    width: 100%!important;
    box-sizing: border-box!important;
    transition: top .5s ease!important;
    z-index: 99!important;
    top: 80px!important;
}

body .header-wrapper .nav .nav-pills .nav-stacked .header-bottom {
    background: #191d38!important;
}

.header-wrapper .header-bottom {
    height: 60px;
    box-shadow: 0 1px 1px 1px rgba(18, 106, 211, .08)
}

@media (max-width:992px) {
    .header-wrapper .header-bottom,
    .header-wrapper .header-top {
        box-shadow: 0 1px 1px 1px rgba(18, 106, 211, .08);
        display: flex;
        margin: 0;
        padding: 0
    }
    .header-wrapper {
        height: 65px;
        position: fixed;
        z-index: 1050
    }
    .header-wrapper .header-top {
        z-index: 99;
        height: 65px;
        flex-direction: row;
        width: 100%;
        background: #161931
    }
    .header-wrapper .header-bottom {
        z-index: 150;
        transition: all .3s ease;
        flex-direction: row;
        left: -245px;
        width: 240px;
        height: 100vh;
        overflow-y: auto;
        top: 0;
        position: fixed
    }
    body.aside-left-open {
        overflow-y: hidden
    }
    body.aside-left-open .header-bottom {
        left: 0;
        z-index: 1050
    }
}

body .header-wrapper .header-bottom {
    background: #191d38
}

body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li a {
    color: #788db4
}

body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li a.active,
body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li a:hover {
    color: #fff
}

body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li>ul>li:before {
    content: '';
    background-color: #EEF5FF
}

body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li>ul>li:hover:before {
    content: '';
    background-color: #736cc7
}

body .header-wrapper .header-bottom .main-menu ul.nav.metismenu li ul li a.active,
body .header-wrapper .header-bottom .main-menu ul.nav.metismenu li ul li a:hover {
    color: #736cc7
}

@media (max-width:992px) {
    body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li.active:before,
    body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li>ul>li:before,
    body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li>ul>li:hover:before {
        content: '';
        background-color: #736cc7
    }
    body .header-wrapper .header-bottom .main-menu ul.nav.metismenu li ul li.active>a,
    body .header-wrapper .header-bottom .main-menu ul.nav.metismenu>li.active>a {
        color: #fff
    }
}